<div class="d-flex flex-row justify-content-around">
  <div class="card m-3 border-3" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title-name text-center">
        <%= @random_idea.song.name.titleize %>
      </h5>
      <div class="card-subtitle my-2 text-muted">
        <h6>created on:</h6>
        <h6><%= @random_idea.song.created_at.strftime('%A %e %B, %Y') %></h6>
      </div>
      <div>
        <div class="instruments d-flex flex-column align-items-center my-2 border border-2 border-secondary p-2">
          <p class="text-muted">Starting Instrument</p>
          <div class="d-flex justify-content-between gap-3">
            <%= render 'shared/instrument_pic', instrument: @random_idea.instrument %>
            <%= @random_idea.instrument.name %>
            <%= render 'shared/instrument_pic', instrument: @random_idea.instrument %>
          </div>
        </div>
        <div class="song-elements my-2 border border-2 border-secondary p-2">
          <span class="card-text">
            <p class="text-muted">Time Signature:</p>
            <%= @random_idea.song.time_signature %>
          </span>
          <span class="card-text">
            <p class="text-muted">Mood:</p>
            <%= @random_idea.song.mood %>
          </span>
          <span class="card-text">
            <p class="text-muted">Key:</p>
            <%= @random_idea.song.key %>
          </span>
          <span class="card-text">
            <p class="text-muted">BPM:</p>
            <%= @random_idea.song.bpm %>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
