<div class="container">
<%= turbo_stream_from "ai_inspirations" %>
  <div class="text-center my-3">
    <h3><i>Here are your saved songwriting ideas, </i></h3><h1><%= current_user.first_name %></h1>
  </div>

  <%# search & filtering %>
  <%# <form>
    <input type="radio" id="">
    <label for=""></label>
  </form> %>

  <div class="user-cards" data-controller="loader" data-loader-target="userCard">
    <% @sorted_ideas.each do |idea| %>
      <div class="card m-3" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title-name text-center">
            <%= idea.song.name %>
          </h5>
          <div class="card-subtitle my-2 text-muted d-flex justify-content-between align-items-center">
            <div>
              <h6>created on:</h6>
              <h6><%= idea.song.created_at.strftime('%A %e %B, %Y') %></h6>
            </div>
            <%= link_to user_idea_path(idea), class: "text-dark", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
              <i class="fa-regular fa-trash-can"></i>
            <% end %>
          </div>
          <div class="underlay">
            <div class="instruments d-flex flex-column align-items-center my-2 border border-2 border-secondary p-2">
              <p class="text-muted">Starting Instrument</p>
              <div class="d-flex justify-content-between gap-3">
                <% idea.song.instruments.each do |instrument| %>
                  <%= render 'shared/instrument_pic', instrument: instrument %>
                  <%= instrument.name %>
                  <%= render 'shared/instrument_pic', instrument: instrument %>
                <% end %>
              </div>
            </div>
            <div class="song-elements my-2 border border-2 border-secondary p-2">
              <span class="card-text">
                <p class="text-muted">Time Signature:</p>
                <%= idea.song.time_signature %>
              </span>
              <span class="card-text">
                <p class="text-muted">Mood:</p>
                <%= idea.song.mood %>
              </span>
              <span class="card-text">
                <p class="text-muted">Key:</p>
                <%= idea.song.key %>
              </span>
              <span class="card-text">
                <p class="text-muted">BPM:</p>
                <%= idea.song.bpm %>
              </span>
            </div>
          </div>
          <%#= button_to "be inspired", inspire_user_idea_path(idea),
              method: :post,
              form: { data: { turbo: true } },
              class: "btn btn-done text-dark"
          %>
          <%# <div id="= dom_id(idea, :inspiration)"> %>
            <%# text here %>
          <%# </div> %>
          <%#= render partial: "user_ideas/inspiration", locals: { idea: idea, inspiration: "Test broadcast" } %>
          <%# </div> %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="text-center my-4">
    <%= link_to 'log out', destroy_user_session_path, data: {turbo_method: :delete}, class: "btn main-btn btn-lg" %>
  </div>
</div>
