<%= csrf_meta_tags %>

<%# Buttons %>
<div class="container new-body" data-controller="song">
  <div class="new-buttons d-flex justify-content-center align-items-center my-4 w-100" data-loader-target="button">
    <button class="btn login me-4" data-action="click->song#changeAll">Gimme a Song</button>
    <button type="button" class="btn btn-done ms-4" data-bs-toggle="modal" data-bs-target="#saveSongNameModal">
      Done
    </button>
  </div>

  <%# Form/Modal %>
  <div class="modal fade" id="saveSongNameModal" tabindex="-1" aria-labelledby="saveSongNameModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="saveSongNameModalLabel">Save your song</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <%= simple_form_for @song do |f| %>
            <%= f.input :name, error: 'Please name your song', input_html: { data: { song_target: :name } } %>
            <%= f.input :time_signature, as: :hidden, input_html: { value: "", data: { song_target: :time } } %>
            <%= f.input :key, as: :hidden, input_html: { value: "", data: { song_target: :key } } %>
            <%= f.input :mood, as: :hidden, input_html: { value: "", data: { song_target: :mood } } %>
            <%= f.input :bpm, as: :hidden, input_html: { value: "", data: { song_target: :bpm } } %>
            <%= hidden_field_tag :instrument_name, "", data: { song_target: :instrumentName } %>
            <%= f.button :submit, class: "btn btn-done", html: { data: { action: "click->song#saveSong" } }  %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <%# Song %>
  <div class="row">
    <div class="col-12 col-lg-6" data-loader-target="card">
      <%# Song Row 1 %>
      <div class="row justify-content-evenly">
        <div class="col-9 col-lg-5 card my-4 w-35">
          <div class="card-body text-center">
            <div>
              <h5 class="card-title-name text-center">Time Signature</h5>
              <%# <i class="fa-solid fa-lock-open" data-song-target="timePadlock" data-action="click->song#lockTime"></i> %>
            </div>
            <p class="text">The time signature is:</p>
            <h2 data-song-target="allTime">4/4</h2>
            <%# <button class="btn btn-info" data-song-target="timeButton" data-action="click->song#changeTime">something else</button> %>
          </div>
        </div>
        <div class="col-9 col-lg-5 card my-4 w-35">
          <div class="card-body text-center">
            <div>
              <h5 class="card-title-name">BPM</h5>
              <%# <i class="fa-solid fa-lock-open" data-song-target="bpmPadlock" data-action="click->song#lockBpm"></i> %>
            </div>
            <p class="text">The BPM is: </p>
            <h2 data-random-bpm-target="bpm" data-song-target="allBpm">120</h2>
            <%# <button class="btn btn-info" data-action="click->random-bpm#changeBpm">something else</button> %>
          </div>
        </div>
      </div>

      <%# Song Row 2 %>
      <div class="row justify-content-evenly">
        <div class="col-9 col-lg-5 card my-4 w-35">
          <div class="card-body text-center">
            <div>
              <h5 class="card-title-name">Mood</h5>
              <%# <i class="fa-solid fa-lock-open" data-song-target="moodPadlock" data-action="click->song#lockMood"></i> %>
            </div>
            <p class="text">The mood is: </p>
            <h2 data-random-mood-target="mood" data-song-target="allMood">happy</h2>
            <%# <button class="btn btn-info" data-action="click->random-mood#changeMood">something else</button> %>
          </div>
        </div>
        <div class="col-9 col-lg-5 card my-4 w-35">
          <div class="card-body text-center">
            <div>
              <h5 class="card-title-name">Key</h5>
              <%# <i class="fa-solid fa-lock-open" data-song-target="keyPadlock" data-action="click->song#lockKey"></i> %>
            </div>
            <p class="text">The key is: </p>
            <h2 data-random-key-target="key" data-song-target="allKey">C</h2>
            <%# <button class="btn btn-info" data-action="click->random-key#changeKey">something else</button> %>
          </div>
        </div>
      </div>
    </div>

    <%# Instruments %>
    <div class="col-12 col-lg-6" data-loader-target="instCard">
      <%# Instrument Row %>
      <div class="row justify-content-evenly">
        <div class="col-9 col-lg-11 card card-inst my-4 w-45 active">
          <div class="card-body text-center">
            <div>
              <h5 class="card-title-name">Instrument</h5>
              <%# <i class="fa-solid fa-lock-open" data-song-target="instPadlock" data-action="click->song#lockInst"></i> %>
            </div>
            <p class="text">Your starting instrument: </p>
            <div class="d-flex justify-content-evenly align-items-center gap-3">
              <img src="../assets/guitar.png" alt="instrument-image" class="instrument-picture" data-song-target="instPic">
              <h2 data-song-target="allInstrumentOne" data-random-instrument-target="instrument">guitar</h2>
              <img src="../assets/guitar.png" alt="instrument-image" class="instrument-picture" data-song-target="instPic">
            </div>
            <%# <button class="btn btn-info" data-action="click->random-instrument#changeInstrument">something else</button> %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-center my-4 d-block d-sm-none">
    <button class="btn main-btn me-4" data-action="click->song#changeAll">Gimme a Song!</button>
    <button type="button" class="btn btn-done me-4" data-bs-toggle="modal" data-bs-target="#saveSongNameModal">
      Done
    </button>
  </div>
</div>
