<%= turbo_frame_tag :new_instrument do %>
  <div class="cards container my-4" data-controller="expander">
    <div class="card-inst my-4 w-45 active">
      <div class="card-body text-center" data-controller="random-instrument">
        <div>
          <h5 class="card-title"><strong>Instrument</strong></h5>
          <i class="fa-solid fa-lock-open"></i>
        </div>
        <p class="card-text">Your instrument is: </p>
        <h2 data-song-target="allInstrumentOne" data-random-instrument-target="instrument"><%= @instrument.name %></h2>
        <div class="text-center">
          <button class="btn btn-info" data-action="click->random-instrument#changeInstrument">something else</button>
          <i class="icon fa-solid fa-square-plus fa-2x fa-fade" data-action="click->expander#fireOne"></i>
        </div>
      </div>
    </div>

    <div class="card-inst my-4 d-none w-45" data-expander-target="expandingElementOne">
      <div class="card-body text-center" data-controller="random-instrument">
        <div>
          <h5 class="card-title"><strong>Instrument</strong></h5>
          <i class="fa-solid fa-lock-open"></i>
        </div>
        <p class="card-text">Your instrument is: </p>
        <h2 data-song-target="allInstrumentTwo" data-random-instrument-target="instrument"><%= @instrument.name %></h2>
        <div class="text-center">
          <button class="btn btn-info" data-action="click->random-instrument#changeInstrument">something else</button>
          <i class="icon fa-solid fa-square-plus fa-2x fa-fade" data-action="click->expander#fireTwo"></i>
        </div>
      </div>
    </div>

    <div class="card-inst my-4 d-none w-45" data-expander-target="expandingElementTwo">
      <div class="card-body text-center" data-controller="random-instrument">
        <div>
          <h5 class="card-title"><strong>Instrument</strong></h5>
          <i class="fa-solid fa-lock-open"></i>
        </div>
        <p class="card-text">Your instrument is: </p>
        <h2 data-song-target="allInstrumentThree" data-random-instrument-target="instrument"><%= @instrument.name %></h2>
        <div class="text-center">
          <button class="btn btn-info" data-action="click->random-instrument#changeInstrument">something else</button>
          <i class="icon fa-solid fa-square-plus fa-2x" data-action="click->expander#fireThree"></i>
        </div>
      </div>
    </div>

    <div class="card-inst my-4 d-none w-45" data-expander-target="expandingElementThree">
      <div class="card-body text-center" data-controller="random-instrument">
        <div>
          <h5 class="card-title"><strong>Instrument</strong></h5>
          <i class="fa-solid fa-lock-open"></i>
        </div>
        <p class="card-text">Your instrument is: </p>
        <h2 data-song-target="allInstrumentFour" data-random-instrument-target="instrument"><%= @instrument.name %></h2>
        <div class="text-center">
          <button class="btn btn-info" data-action="click->random-instrument#changeInstrument">something else</button>
        </div>
        </div>
      </div>
    </div>
    
  </div>
<% end %>
